extends layout

block content
  h1(id="high") Addressbook Application
  div(class='container')
    h1(id="hh") #{name}'s Contact Information  
    ul(data-role='listview', data-inset="true")
        li Name: #{name}
        li Address: #{address}
        li Email: #{email}
        li Phonenumber: #{phonenumber}
        li Birthday: #{birthday}
        li Generalinfo: #{generalinfo}   
    a(href="/getaddressbook") return to contacts.
    
  script.
        $(".container").mouseover(function() {
            $(this).css('background-color', 'yellow');
            });
        $( ".container" ).mouseleave(function() {
            $(this).css('background-color', 'white');
            });